<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<form th:href='@{/student}' th:method="post" th:object="${student}">
    <label for="firstName">First Name</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <br>
    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br>
    <label for="address">Address</label>
    <input type="text" th:field="*{address}" id="address">
    <br>
    <label for="city">City</label>
    <input type="text" th:field="*{city}" id="city">
    <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>