<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/}" method="post" th:object="${administrator}">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username">
    <br>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password">
    <br>
    <input type="submit" value="Log In">
</form>
</body>
</html>

<!--we can add a new form to add a new administrator that only shows if an administrator of type "sys admin"admin -->
<!--is logged in!-->