<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="container-md p-5">
            <h1>All courses</h1>
        </div>

        <div class="row col-10 justify-content-md-center p-3">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Administrator ID</th>
                    <th colspan="2">Action</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${courseList}" th:value="${course.courseID}">
                    <td th:text="${course.name}"></td>
                    <td th:text="${course.description}"></td>
                    <td th:text="${course.administratorId}"></td>
                    <td>
                        <button type="button" class="btn btn-dark">Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>

        <div class="row col-10 justify-content-md-center p-5">
            <a th:href="@{/course/addCourse}">Add another course </a>
        </div>
    </div>
</div>

</body>
</html>