<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="container-md p-5">
            <h1>All students</h1>
        </div>

        <div class="row col-10 justify-content-md-center p-3">
            <table class="table">
                <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th colspan="2">Action</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${studentList}" th:value="${student.id}">
                    <td  th:text="${student.firstName}"></td>
                    <td  th:text="${student.lastName}"></td>
                    <td  th:text="${student.address}"></td>
                    <td  th:text="${student.city}"></td>
                    <td>
                        <button type="button" class="btn btn-dark">Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>

        <div class="row col-10 justify-content-md-center p-5">
            <a th:href="@{/student/addStudent}">Add another student </a>
        </div>
    </div>
</div>

</body>
</html>