<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="container-md p-5">
            <h1>Student Transcript</h1>
        </div>

        <div class="row col-4 justify-content-md-center p-3">
            <table class="table table-bordered">
                <thead>
<!--                <tr th:each="grade : ${studentGrades}" th:value="${grade.transcriptID}">-->
<!--                    <th>Student</th>-->
<!--                    <td th:text="${grade.student.firstName}"></td>-->
<!--                    <td th:text="${grade.student.lastName}"></td>-->

<!--                </tr>-->
                <tr>
                    <th>Student</th>
                    <td th:text="${studentToDisplayGrades.firstName}"></td>
                    <td th:text="${studentToDisplayGrades.lastName}"></td>

                </tr>
                </thead>
                <tbody>
<!--                <tr th:each="grade : ${studentGrades}" th:value="${grade.transcriptID}">-->
<!--                    <th>Address</th>-->
<!--                    <td th:text="${grade.student.address}"></td>-->
<!--                    <td th:text="${grade.student.city}"></td>-->
<!--                </tr>-->
                <tr>
                    <th>Address</th>
                    <td th:text="${studentToDisplayGrades.address}"></td>
                    <td th:text="${studentToDisplayGrades.city}"></td>

                </tr>
                </tbody>

            </table>
        </div>

        <div class="row justify-content-md-center p-3">
            <table class="table">
                <thead>
                <tr>
                    <th>Course</th>
                    <th>Grade</th>
                    <th>Semester</th>
                    <th>Year</th>
                    <th colspan="2">Action</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="grade : ${studentGrades}" th:value="${grade.transcriptID}">
                    <td th:text="${grade.course.name}"></td>
                    <td th:text="${grade.grade}"></td>
                    <td th:text="${grade.semester}"></td>
                    <td th:text="${grade.year}"></td>
                    <td>
                        <form th:action='@{/grade}' th:method="post">
                            <input type="hidden" name="transcriptID" th:value="${grade.transcriptID}">
                            <button type="submit" name="actionType" class="btn btn-dark" value="sendToModify">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form th:action='@{/grade}' th:method="post">
                            <input type="hidden" name="transcriptID" th:value="${grade.transcriptID}">
                            <button type="submit" name="actionType" class="btn btn-danger" value="delete">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>


        <a th:href="@{/grade/addGrade}">click here to add another grade </a>

    </div>
</div>
</body>
</html>